version: '3.8'
services:
  app:
    build: .
    ports:
      - '3000:3000'
    env_file: .env
    depends_on:
      - postgres
    environment:
      DB_HOST: postgres

  postgres:
    image: postgres:16
    ports:
      - '5432:5432'
    environment:
      POSTGRES_DB: todo_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: