services:
  app:
    build: .
    ports:
      - '3000:3000'
    env_file: .env
    depends_on:
      - postgres
    environment:
      DB_HOST: ${DB_HOST}

  postgres:
    image: postgres:16
    ports:
      - '5432:5432'
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: